{% extends 'index.html' %}
{% load static %}
{% block title %}
<title>Virtual Labs | About</title>
{% endblock %}
{% block body %}

<section class="probootstrap-section probootstrap-section-colored">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-left section-heading probootstrap-animate">
        <h1>About Virtual Labs</h1>
      </div>
    </div>
  </div>
</section>

<section class="probootstrap-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="probootstrap-flex-block">
          <div class="probootstrap-text probootstrap-animate">
            <div class="text-uppercase probootstrap-uppercase">The Philosophy</div>
            <h3>The reason behind Virtual Labs</h3>
            <p>Today most equipment has a computer interface for control and data storage.It is possible to design good
              experiments around some of this equipment which would enhance the learning of a student.Internet-based
              experimentation further permits use of resources, knowledge, software, and data available on the web,
              apart from encouraging skillful experiments being simultaneously performed at points separated in space
              (and possibly, time).</p>
            <!-- <p><a href="#" class="btn btn-primary">Learn More</a></p> -->
          </div>
          <div class="probootstrap-image probootstrap-animate" style="background-image: url(/static/img/banner4.jpg)">
            <!-- <a href="https://vimeo.com/45830194" class="btn-video popup-vimeo"><i class="icon-play3"></i></a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="probootstrap-section">
  <div class="container">

    <div class="col-md-6">
      <p>
        <img src="/static/img/outreach.PNG" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive">
      </p>
      <h3 style="    position: absolute;
      right: 140px;
      font-weight: bold;">Participating Institutes</h3>
    </div>
    <div class="col-md-6 col-md-push-1">
      <h2>Objectives of Virtual Labs .</h2>
      <p>Rapid changes in the field of engineering technology have increased the need for universities to provide
        engineering and engineering technology students with meaningful and relevant practical experiences; however, in
        India, limited available resources in the provision of laboratory hardware and infrastructure have been the
        principal impediment in achieving this objective.One approach that can be implemented to overcome this problem
        is to expand learning activities to take advantage of online computer based technology.</p>
      <p>The Virtual lab presents
        a unique opportunity to boost the quality of engineering education, deepen understanding and provide the
        necessary practical skills to young minds through cost effective outreach and distance learning activities.</p>
    </div>


  </div>
</section>
<hr>


<section class="probootstrap-section">
  <div class="container">
    <div class="row" style="    position: relative;
    bottom: -40px;">
      <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
        <h2 style="    position: relative;
        top: -24px;">Saliant Features </h2>
        <p class="lead">
        <ul>
          <li>
            Modeling the physical phenomenon by a set of equations and carrying out simulations to yield the result of
            the particular experiment.This can, at-the-best, provide an approximate version of the 'real-world'
            experiment.
          </li>
          <li>Providing measured data for virtual lab experiments corresponding to the data previously obtained by
            measurements on an actual system.</li>
          <li>
            Remotely triggering an experiment in an actual lab and providing the student the result of the experiment
            through the computer interface.This would entail carrying out the actual lab experiment remotely.
          </li>
          <li>Virtual Labs will be made more effective and realistic by providing additional inputs to the students like
            accompanying audio and video streaming of an actual lab experiment and equipment.</li>
        </ul>
        </p>
        <br>

      </div>
    </div>
    <h2 style="text-align: center;">Why Choose Virtual Labs </h2>
    <div class="row">
      <div class="col-md-6">

        <div class="service left-icon probootstrap-animate">
          <div class="icon"><i class="icon-checkmark"></i></div>
          <div class="text">
            <h3>Accessibility</h3>
            <p>Virtual labs provide easy access to specialized equipment and experiments.</p>
          </div>
        </div>
        <div class="service left-icon probootstrap-animate">
          <div class="icon"><i class="icon-checkmark"></i></div>
          <div class="text">
            <h3>Flexibility</h3>
            <p> Virtual labs offer convenient scheduling and location-independent learning.</p>
          </div>
        </div>
        <div class="service left-icon probootstrap-animate">
          <div class="icon"><i class="icon-checkmark"></i></div>
          <div class="text">
            <h3>Cost-Efficiency</h3>
            <p>They are more affordable to set up and maintain than physical labs.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="service left-icon probootstrap-animate">
          <div class="icon"><i class="icon-checkmark"></i></div>
          <div class="text">
            <h3>Safety</h3>
            <p>They reduce risks associated with hazardous materials and complex equipment.</p>
          </div>
        </div>

        <div class="service left-icon probootstrap-animate">
          <div class="icon"><i class="icon-checkmark"></i></div>
          <div class="text">
            <h3>Remote Learning</h3>
            <p> Ideal for online education, enabling practical experience from anywhere and everywhere.</p>
          </div>
        </div>

        <div class="service left-icon probootstrap-animate">
          <div class="icon"><i class="icon-checkmark"></i></div>
          <div class="text">
            <h3>Scalability</h3>
            <p>They can accommodate a large number of users simultaneously.</p>
          </div>
        </div>

      </div>
    </div>
    <!-- END row -->
  </div>
</section>
{% endblock %}