{% extends 'index.html' %}
{% block title %}
<title>virtual labs | Login</title>
{% endblock %}
{% block body %}
<div class="container-fluid w-100 py-3">
    <div class="center  m-auto border p-5" style="width:65% ; height: 450px;    margin-left: 280px;">
        <h6 class="text-center" style="font-size: 25px;"><span class="text-primary" style="font-size: 35px;">Login</span> to Your Account</h6>

        {% if messages %}
        {% for m in messages %}
        <div class="alert" style="color: red; text-align: center;" role="alert">
            {{m}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}

        <form action="/login/" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">UserName</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Enter User Name : ">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password"
                    placeholder="Enter Password : ">
            </div>
            <br>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary w-100 btn-sm">Login</button>
            </div>
        </form>
        <div class="d-flex justify-content-between" style="display: flex; justify-content: space-between;">
            <a href="/forget-username/" class="text-primary">Forget Password</a>
            <a href="/signup/" class="text-primary">New User? Create a new Account</a>
        </div>
    </div>
</div>
{% endblock %}