{% extends 'index.html' %}
{% load static %}
{% block title %}
<title>Virtual Labs | Labs</title>
{% endblock %}
{% block body %}

<section>
    <div class="row expContent" style="    position: relative;
    left: -140px;">
        <div class="col-md-9 col-md-push-3 col-sm-12 col-xs-12 col-lg-9 col-xl-9">
            <h1 style="text-align:center;padding-right: 34%;font-weight: bolder;">Message from PIC</h1>
            <br>

            <img class="img-responsive rounded-circle"
                style="cursor:pointer;display: block;margin-left: auto;height:220px;width:220px;margin-left: 26%;border-radius: 50%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                src="/static/img/prof_img.PNG" width="90"><br><br>
            <p style="font-size:medium;font-weight:bold;margin-left:-150px;padding-right: 20%;text-align: justify;">
                It is my pleasure and honour to welcome you to the Virtual Labs, Department of Electrical
                Engineering. IIT Roorkee, which is a venture of Ministry of Education (Formerly known as
                MHRD), Govt. of India, established in the year 2010 under National Mission on Education
                through Information and Communication Technology (NMEICT).This project is set up with a
                motive of improving standards of laboratory and practical training imparted to Engineering
                and Science students in India.Virtual labs also provide a complete Learning Management
                System that includes web-resources, video-lectures, animated demonstrations and
                self-evaluation.We invite students across the country to perform experiments.We also
                encourage students to participate in the national level events such as workshops, bootcamps
                and FDP organized by Virtual labs IIT Roorkee.We also offer summer and winter internships to
                students based on the virtual labs criteria.Students can access and perform experiments on
                virtual labs at a most preferred time slot and can also repeat experiment on the 24X7 basis.
            </p>
            <p style="font-size: medium;font-weight:bold;margin-left:-150px;padding-right: 20%;text-align: justify;">
                I wish you to be a part of our journey towards being a well-established virtual laboratory
                of excellence in education, training and research.</p>
            <p style="font-size: medium;font-weight:bold;margin-left:-150px;padding-right: 20%;text-align: justify;">
                I wish Best of Luck to all !</p><br><br>
            <p style="font-size: medium;font-weight:bold;margin-left:-150px;">Prof. R S Anand<br>
                Project Institute Coordinator, Virtual Labs<br>
                Electrical Engineering Department<br>
                IIT Roorkee, Uttarakhand, India</p>


            <br><br><br><br><br><br><br><br><br><br>






        </div>
    </div>



    <style>
        body {
            background: #eee;
        }


        .work {
            font-weight: bold;
            font-size: 15px;
        }


        .box {

            box-shadow: 13px 12px 5px -10px rgba(196, 194, 196, 0.72);
        }

        .col-md-3 {
            margin-top: 10px;
        }

        .foot ul li {
            text-decoration: none;
        }

        .foot ul li a {
            color: #5bacf1;

        }

        .foot ul li a:hover {
            color: red;
        }
    </style>

</section>

{% endblock %}