{% extends 'index.html' %}
{% load static %}
{% block title %}
<title>Virtual Labs | Team</title>
{% endblock %}
{% block body %}
<section class="probootstrap-section probootstrap-section-colored">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-left section-heading probootstrap-animate">
        <h1 style="position: absolute;">Our Team</h1>
      </div>
    </div>
  </div>
</section>

<!-- <section class="probootstrap-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="probootstrap-flex-block">
          <div class="probootstrap-text probootstrap-animate">
            <h3>We Hired Certified Teachers For Our Students</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis explicabo veniam labore ratione illo vero
              voluptate a deserunt incidunt odio aliquam commodi blanditiis voluptas error non rerum temporibus optio
              accusantium!</p>
            <p><a href="#" class="btn btn-primary">Learn More</a></p>
          </div>
          <div class="probootstrap-image probootstrap-animate" style="background-image: url(img/slider_3.jpg)">
            <a href="https://vimeo.com/45830194" class="btn-video popup-vimeo"><i class="icon-play3"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->




<section class="probootstrap-section">
  <div class="container">
    <h2 style="text-align: center;">Development Team</h2>


    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="probootstrap-teacher text-center probootstrap-animate">
          <figure class="media">
            <img src="/static/img/Rajeev.jpg" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive">
          </figure>
          <div class="text">
            <h3>Rajeev </h3>
            <p>Senior Reserch Fellow <br> Development Coordinator</p>
            <ul class="probootstrap-footer-social">
              <a href="mailto:rajeevkumar.rke@gmail.com">rajeevkumar.rke@gmail.com</a>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="probootstrap-teacher text-center probootstrap-animate">
          <figure class="media">
            <img src="/static/img/Nipun.jpg" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive">
          </figure>
          <div class="text">
            <h3>Nipun Jain</h3>
            <p>Project Associate <br>Web Developer</p>

            <ul class="probootstrap-footer-social">

              <a href="mailto:nipunjain1305@gmail.com">nipunjain1305@gmail.com</a>
            </ul>
          </div>
        </div>
      </div>
      <div class="clearfix visible-sm-block visible-xs-block"></div>
      <div class="col-md-3 col-sm-6">
        <div class="probootstrap-teacher text-center probootstrap-animate">
          <figure class="media">
            <img src="/static/img/pragya.jpg" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive">
          </figure>
          <div class="text">
            <h3>Pragya Daksh</h3>
            <p>Project Associate <br>Web Developer</p>
            <ul class="probootstrap-footer-social">

              <a href="mailto:prgdaksh@gmail.com">prgdaksh@gmail.com</a>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="probootstrap-teacher text-center probootstrap-animate">
          <figure class="media">
            <img src="/static/img/Piyush.jpg" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive">
          </figure>
          <div class="text">
            <h3>Piyush Rawat </h3>
            <p>Project Associate <br>Web Developer</p>
            <ul class="probootstrap-footer-social">
              <a href="mailto:nipunjain1305@gmail.com">rawatpiyusj72@gmail.com</a>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-md-3 col-sm-6">
        <div class="probootstrap-teacher text-center probootstrap-animate">
          <figure class="media">
            <img src="/static/img/rahul.jpg" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive">
          </figure>
          <div class="text">
            <h3>Rahul Saini</h3>
            <p>Project Associate <br>Web Developer</p>
            <ul class="probootstrap-footer-social">
              <a href="mailto:rahul.saini8599@gmail.com">rahul.saini8599@gmail.com</a>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="probootstrap-teacher text-center probootstrap-animate">
          <figure class="media">
            <img src="/static/img/Harshul.jpg" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive">
          </figure>
          <div class="text">
            <h3>Harshul Khurana</h3>
            <p>Project Associate <br>Web Developer</p>
            <ul class="probootstrap-footer-social">
              <a href="mailto:harshulkhurana1604sk@gmail.com">harshulkhurana1604sk@gmail.com</a>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix visible-sm-block visible-xs-block"></div>
    <h2 style="text-align: center;"> Outreach Team </h2>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="probootstrap-teacher text-center probootstrap-animate">
          <figure class="media">
            <img src="/static/img/Chetan.jpeg" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive">
          </figure>
          <div class="text">
            <h3>Chetan Dhiman</h3>
            <p>Project Associate <br>Outreach</p>
            <ul class="probootstrap-footer-social">
              <a href="mailto:chetan.dhiman.27@gmail.com">chetan.dhiman.27@gmail.com</a>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="probootstrap-teacher text-center probootstrap-animate">
          <figure class="media">
            <img src="/static/img/Jasbir.jpeg" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive">
          </figure>
          <div class="text">
            <h3>Jasbir Singh</h3>
            <p>Project Associate <br>Outreach</p>
            <ul class="probootstrap-footer-social">
              <a href="mailto:jasbirjassy6@gmail.com">jasbirjassy6@gmail.com</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="probootstrap-teacher text-center probootstrap-animate">
            <figure class="media">
              <img src="/static/img/Amit.jpg" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive">
            </figure>
            <div class="text">
              <h3>Amit Kumar Sharma</h3>
              <p>Project Associate <br>Outreach</p>
              <ul class="probootstrap-footer-social">
                <a href="mailto:asharma974@gmail.com">asharma974@gmail.com</a>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="probootstrap-teacher text-center probootstrap-animate">
            <figure class="media">
              <img src="/static/img/pankaj.jpg" alt="Free Bootstrap Template by ProBootstrap.com"
                class="img-responsive">
            </figure>
            <div class="text">
              <h3>Pankaj</h3>
              <p>Project Associate <br>Outreach</p>
              <ul class="probootstrap-footer-social">
                <a href="mailto:omkarshiv.Pankaj@gmail.com">omkarshiv.Pankaj@gmail.com</a>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <h2 style="text-align: center;"> Supporting Team </h2>
      <div class="clearfix visible-sm-block visible-xs-block"></div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="probootstrap-teacher text-center probootstrap-animate">
            <figure class="media">
              <img src="/static/img/person_6.jpg" alt="Free Bootstrap Template by ProBootstrap.com"
                class="img-responsive">
            </figure>
            <div class="text">
              <h3>Sunil Kumar</h3>
              <p>Project Attendant <br>-</p>
              <ul class="probootstrap-footer-social">
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="probootstrap-teacher text-center probootstrap-animate">
            <figure class="media">
              <img src="/static/img/person_7.jpg" alt="Free Bootstrap Template by ProBootstrap.com"
                class="img-responsive">
            </figure>
            <div class="text">
              <h3>Sunil Prajapati</h3>
              <p>Project Attendant <br>-</p>
              <ul class="probootstrap-footer-social">

              </ul>
            </div>
          </div>
        </div>

      </div>
</section>
{% endblock %}

<!-- END wrapper -->


<script src="js/scripts.min.js"></script>
<script src="js/main.min.js"></script>
<script src="js/custom.js"></script>

</body>

</html>